<!-- home-page.component.html -->
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h1 class="text-center mb-4">Incentivare la Lettura con Open Library</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg" placeholder="Cerca libri..."
                    [(ngModel)]="searchTerm">
                <div class="input-group-append">
                    <button class="btn btn-primary btn-lg" type="button" (click)="searchBooks()">Cerca</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4" *ngIf="searchResultsVisible">
        <div class="col-md-8">
            <h2 class="text-center mb-3">Risultati della ricerca</h2>
            <ul class="list-group" *ngIf="searchResults.length > 0; else noResults">
                <li class="list-group-item list-group-item-action cursor-pointer" *ngFor="let book of searchResults"
                    (click)="showBookDetails(book.key)">
                    <strong>{{ book.title }}</strong>
                </li>
            </ul>
            <ng-template #noResults>
                <p class="text-center">Nessun risultato trovato</p>
            </ng-template>
        </div>
    </div>
</div>